body {
    padding: 0;
    margin: 0;
    background-color: rgb(35, 35, 37);
}


.mastercontainer {
    margin: 5rem
    
}


.contenedorcardsmain {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 10rem;

}


.flexcardstittle {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flexcardsbutton1 {
    display: flex;
    justify-content: end;
    padding: 20px;
    
    
}

.flexcardsbutton1 button {
    background-color: transparent;
    color: white;
    border-radius: 15px;
    width: 100px;
}


.card {
    display: flex;
    border-radius: 25px;
    flex-direction: row;
    border: solid black 2px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.322);

}

.card img {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    padding: 10px;
   
    
}

.cardtext {
    padding-left: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}


.cardtext h3 {
    color: gray;
    font-size: 20px;
}


.cardtext button {
    background-color: gray;
    border-radius: 15px;
    color: white;transform: translateZ(0);
    background-color: rgba(128, 128, 128, 0.514);
    
}




.navflex {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    text-decoration: none;
    gap: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 8px;


}



.navflex input {
   border-radius: 30px;
   font-weight: bold;
   width:300px;
   height: 30px;
   margin-top: 15px;
   background-color: rgba(128, 128, 128, 0.342)
   
   
   
}


.navflexbutton {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
    padding: 10px;
    
}


.inicio {
    display: grid;
    grid-template-columns: 2fr 2fr ;
}


.navflexbutton1 {
   border-radius: 8px; 
   background-color: rgba(128, 128, 128, 0.548);
   height: 30px;
   width: 90px;
   font-weight: bold;
   color: white;
}


.navflexbutton2 {
    border-radius: 8px;
     background-color: rgba(66, 136, 201, 0.836);
     height: 30px;
     width: 90px;
     font-weight: bold;
     padding-right: 100px;
}

.navflexdiv {
    display: flex;
}



.divflex1 {
   display: grid;
   grid-template-columns: 1fr 1fr;    
}


.video1 {
    border-radius: 100px;
    overflow: hidden;
    transform: translateZ(0);
}

.buttoninner1 {
   border-radius: 10px;
   background-color: rgba(10, 100, 185, 0.836);
   padding: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
   color: black;
   margin-top: 20px;
}


.buttoninner2 {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}






.imagenflex1 {
    width: 800px;
    height:400px;
}

.text1flex {
    font-family: 20px;
}

.containerflex1 {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    justify-content: space-between
  
}


.subcontainerflex1 {
    border-radius: 20px;
    border: solid black;
    color: white;
    
}

.subcontainerflex2 {
    border-radius: 20px;
    border: solid black;
    color: white;
    
}

.buttonflex1 {
    border: solid black;
    display: flex;
    justify-content: start;
    border-radius: 20px;
    
}

.buttonflex2 {
    border: solid black;
    display: flex;
    border-radius: 20px;
     
    
}

.divflexinner1 {
    display: flex;
    flex-direction: column;
    
}


.newflex1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px;
}

.newflex1 h1 {
    font-size: 55px;
    font-weight: bold;
}


.divflex2 {
    display: flex;
    margin-bottom: 10rem;
    margin-top: 10rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10rem;
}

.divflex2 h1 {
    font-size: 40px;
}

.divflex2 button {
   border-radius: 10px;
   background-color: rgba(10, 100, 185, 0.836);
   padding: 5px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
   color: black;
   margin-top: 2rem;

}

.divflex2img {
    display: flex; 
    height: 400px;
    width: 1500px;
    
}

.divflex2button {
    display: flex;
}

.divflex3inner {
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
}

.divflex3inner h1 {
    font-size: 40px;
}

.divflex3innerimg {
    height: 200px;
    width: 350px;

    
}

.games {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    margin: 100px;

    

}

.tarjeta {
  
  text-align: center;
}

.tarjeta h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}